body{background: #1fdde0;
background: linear-gradient(90deg, rgba(31, 221, 224, 1) 0%, rgba(199, 87, 175, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

h1{font-size:50px; color: #f1eeef; background-color:background: #1fdde0;
background: linear-gradient(90deg, rgba(31, 221, 224, 1) 0%, rgba(199, 87, 175, 1) 50%, rgba(237, 221, 83, 1) 100%);border-radius: 50px;
background: #bb00ff;
box-shadow: inset 20px 20px 16px #8300b3,
            inset -20px -20px 16px #f300ff; border: solid;border-radius: 250px;border-color: #cff3de;border-width: 10px;border-style: groove; padding: 25px;text-align:center;}

*{padding: 1px;
 margin: 1px;}

#header{
    margin:auto;
    width: 2900px;}

.nav li a {background-color: #e79cd4;
           color: #746dd4;
           text-decoration: none;
           padding: 10px 20px;
           display: block;
border-radius: 50px;
background: #ff007b;
box-shadow: inset 20px 20px 16px #b30056,
            inset -20px -20px 16px #ff00a0;}

ul, ol{list-style: none;}

.nav > li {float: left;}

.nav li a:hover {background-color: #f17a7a;}

footer#pie{color:#130c11}

p{font-size: 25px; color:rgb(20, 19, 19);text-align:justify;}